html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map-canvas { height: 100% }
#enviar
{
z-index: 100;
position: fixed;
bottom: 100px;
right: 100px;

background-color: rgba(0, 0, 0, 0.4);
background: rgba(0, 0, 0, 0.4);
color: rgba(0, 0, 0, 0.4);

font-size: 30px;
color: white;

width: 200px;
height: 80px;
}